body{
    background-blend-mode: multiply;
    background-image: url("../img/about_bg.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    font-family: "tetai-2";
}
header{
    width: 100%;
    display: flex;
    height: 120px;
    background-color: #fffcf9;
    top:0;
}

.title{
    width: 100%;
    margin: auto ;
    text-align: center;
    color: #969594;
    font-size: 40px;
    font-weight: bold;
}

#tab {
    width: 1000px;
    background: #fffcf9;
    border: solid 2px #f8eadd;
    margin: 100px auto;
    border-radius: 8px;
}

/* 頁籤ul */
#tab > ul {
    /* overflow: hidden; */
    margin: 0;
    padding: 20px 30px 0 30px;
}

#tab > ul > li {
    list-style-type: none;
}

/* 頁籤上的文字 */
#tab > ul > li > a { 
    text-decoration: none;
    font-size: 25px;
    color: #969594;
    float: left;
    padding: 15px;
    margin-left: 5px;
}

/*頁籤div內容*/
#tab > div {
    clear: both;
    padding: 0 15px;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}


span:target ~ #tab > div:first-of-type {
    visibility: hidden;
    height: 0;
    padding: 0 15px;
}

/*頁籤變換&第一筆*/
span ~ #tab > ul li:first-child a,
#tab-2:target ~ #tab > ul li a[href$="#tab-2"],
#tab-3:target ~ #tab > ul li a[href$="#tab-3"],
#tab-4:target ~ #tab > ul li a[href$="#tab-4"],
#tab-5:target ~ #tab > ul li a[href$="#tab-5"] {
    background: #e7c3a1;
    border-radius: 5px 5px 0 0;
}

span ~ #tab > ul li:first-child a::before,
#tab-2:target ~ #tab > ul li a[href$="#tab-2"]::before,
#tab-3:target ~ #tab > ul li a[href$="#tab-3"]::before,
#tab-4:target ~ #tab > ul li a[href$="#tab-4"]::before,
#tab-5:target ~ #tab > ul li a[href$="#tab-5"]::before {
    background-color:#fffcf9 ;
    height: 100%;
}

/*頁籤內容顯示&第一筆*/
span ~ #tab > div:first-of-type,
#tab-2:target ~ #tab > div.tab-content-2,
#tab-3:target ~ #tab > div.tab-content-3,
#tab-4:target ~ #tab > div.tab-content-4,
#tab-5:target ~ #tab > div.tab-content-5 {
    visibility: visible;
    height: auto;
    background: rgb(248, 235, 235);
    opacity: 0.7;
    
}

span {
    display: none;
}

.group{
    margin-left: 40px;
    margin-bottom: 15px;
    font-size: 25px;
}
.group input{
    margin-top: 15px;
    height: 30px;
}

input{
    font-size: 24px;
    font-family: "tetai-2";
}
p{
    font-size: 25px;
    margin-top: 15px;
}
.tab-content-1{
    font-size:30px;
    margin:auto;
}
.btn,.rst{
    font-size: 24px;
    font-family: "tetai-2";
    padding: 5px;
    border-radius: 8px;
    transition: 0.5s;
}
.btn:hover,.rst:hover{
    cursor: pointer;
    background-color: white;
}